* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #f4f5f6;
  font-family: "Roboto Condensed", sans-serif;
}

.container_wrapper {
  margin: 0 35px;
}

.nav ul li {
  list-style-type: none;
}

.logo-area {
  background: #f72210;
  color: white;
}

.subscribe-btn,
.signin-btn {
  font-weight: bold;
}

.nav li a {
  font-weight: 700;
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-right: 1px solid #e5e5e5;
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1155px) {
  .navbar {
    visibility: hidden;
  }
}

@media screen and (max-width: 864px) {
  .subscribe-btn,
  .signin-btn {
    padding: 0 !important;
    margin: 1rem !important;
  }
}
