.nav ul li {
  list-style-type: none;
}

.logo-area {
  background: #f72210;
  color: #ffffff;
}

/* .img-logo img {
  width: 450px;
  height: 120px;
} */

.subscribe-btn,
.signin-btn {
  font-weight: bold;
}

@media screen and (max-width: 955px) {
  .nav {
    visibility: hidden;
  }
}

@media screen and (max-width: 864px) {
  .subscribe-btn,
  .signin-btn {
    padding: 0!important;
    margin: 1rem!important;
  }
}

